<div class="large-container center-block margin-top"> 

    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        Revisa los mejores precios disponibles en <strong>Recorrido.cl</strong><br>
        La busqueda realizada es para los proximos 7 dias y se actualiza cada 5 minutos
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase"> <%= @alert.name_alert %> </h5>
          <h5 class="card-subtitle mb-2 text-muted"> <%= @alert.created_at %> </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Origen:</strong> <%= @list_cities.select{|x|x[0] == @alert.from_alert}.map{|x| x[1]}  %> <input type="hidden" id="from_alert" name ="from_alert" value="<%= @alert.from_alert %>" ></li>
            <li class="list-group-item"><strong>Destino:</strong> <%= @list_cities.select{|x|x[0] == @alert.to_alert}.map{|x| x[1]}  %> <input type="hidden" id="to_alert" name ="to_alert" value="<%= @alert.to_alert %>" ></li>
            <li class="list-group-item"><strong>Clase:</strong> <%= @clase.title %> <input type="hidden" id="class_alert" name ="class_alert" value="<%= @alert.class_alert %>" ></li>
            <li class="list-group-item"><strong>Precio:</strong> <%= @alert.price_alert %> <input type="hidden" id="price" name ="price" value="<%= @alert.price_alert %>" ></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div id="chart_travels" style="height:300px;">
      </div>
    </div>
  </div>

  <div class="row  margin-top">
    <div class="col-12 margin-top">
    <h3>Mejor precio por día</h3>
      <table class="table table-sm" id="travels_alerts" name="travels_alerts">
        <thead>
          <tr>
            <th scope="col" >Fecha </th>
            <th scope="col" >Horario </th>
            <th scope="col" >Clase </th>
            <th scope="col" >Precio Minimo </th>
            <th scope="col" >Empresa de Bus </th>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'Editar', edit_alert_path(@alert) , class: "btn btn-outline-primary"%> |
  <%= link_to 'Volver', alerts_path , class: "btn btn-outline-secondary"%>

</div>


<script>
window.onload = function() {
  search_travels_alert();
};

setInterval(search_travels_alert, 300000);

function search_travels_alert(){
  $('#travels_alerts tbody').empty();

  let from = $('#from_alert').val();
  let to = $('#to_alert').val();
  let class_alert = $('#class_alert').val();
  let price = $('#price').val();
  let travels = [];
  

  for (  x = 0 ; x <= 6; x++){ 
    let d = new Date();
    d.setDate(d.getDate()+parseInt(x)+parseInt(1))
    let strDate = (d.getDate()<10?'0'+d.getDate():d.getDate()) + "-" +  ((d.getMonth()+1)<10?'0'+(d.getMonth()+1):(d.getMonth()+1)) + "-" + d.getFullYear()  ; 
    $.ajax({
      url: "/bus_travels",
      type: "get",
      data: {"from":from, "to":to, "class_alert":class_alert,  "price":price,  "date":strDate},
      dataType:'json',
      success: function(result, status) {
        
        if (result){

          let date_travel = new Date();
          date_travel.setDate(result[0].substr(0,10))
            
            

            travels.push([result[0].substr(0,10),result[2]]);

            new Chartkick.LineChart("chart_travels",  travels);

                                let newrow= "<tr><td>" +
                                                              result[0].substr(0,10) + "</td><td>" +
                                                              result[0].substr(11,5) + "</td><td>" +
                                                              result[1] + "</td><td>" +
                                                              result[2] + "</td><td>" +
                                                              result[3] + "</td></tr>" 
        
                                $("#travels_alerts").append(newrow);
        
                          
        }
        
      },
      error: function(data) {}
    })
    
  }
}




</script>






